In [0]:
File uploaded to /FileStore/tables/line_delimited_json.csv
File uploaded to /FileStore/tables/multiline_incorrect_json.csv
File uploaded to /FileStore/tables/corrupted_json.csv
File uploaded to /FileStore/tables/single_file_json_with_extra_fields.csv

In [0]:
spark.read.format("json")\
    .option("inferSchema","true")\
    .option("mode","PERMISSIVE")\
    .load("/FileStore/tables/line_delimited_json.csv").show()

+---+--------+------+
|age|    name|salary|
+---+--------+------+
| 20|  Manish| 20000|
| 25|  Nikita| 21000|
| 16|  Pritam| 22000|
| 35|Prantosh| 25000|
| 67|  Vikash| 40000|
+---+--------+------+

In [0]:
spark.read.format("json")\
    .option("inferSchema","true")\
    .option("mode","PERMISSIVE")\
    .option("multiline","true")\
    .load("/FileStore/tables/multiline_incorrect_json.csv").show()

+---+------+------+
|age|  name|salary|
+---+------+------+
| 20|Manish| 20000|
+---+------+------+

In [0]:
spark.read.format("json")\
    .option("inferSchema","true")\
    .option("mode","PERMISSIVE")\
    .load("/FileStore/tables/single_file_json_with_extra_fields.csv").show()

+---+------+--------+------+
|age|gender|    name|salary|
+---+------+--------+------+
| 20|  null|  Manish| 20000|
| 25|  null|  Nikita| 21000|
| 16|  null|  Pritam| 22000|
| 35|  null|Prantosh| 25000|
| 67|     M|  Vikash| 40000|
+---+------+--------+------+

In [0]:
spark.read.format("json")\
    .option("inferSchema","true")\
    .option("mode","PERMISSIVE")\
    .load("/FileStore/tables/corrupted_json.csv").show(truncate=False)

+----------------------------------------+----+--------+------+
|_corrupt_record                         |age |name    |salary|
+----------------------------------------+----+--------+------+
|null                                    |20  |Manish  |20000 |
|null                                    |25  |Nikita  |21000 |
|null                                    |16  |Pritam  |22000 |
|null                                    |35  |Prantosh|25000 |
|{"name":"Vikash","age":67,"salary":40000|null|null    |null  |
+----------------------------------------+----+--------+------+